.card1
{
    width:100%;
    height:150px;
    /* border: 1px solid rgb(18, 18, 228); */
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 15px;
    border-radius:10px;
    background-color: white;
    box-shadow: 1px 1px 30px 1px rgba(68, 67, 67,0.5);
    

}

.card1 .img1
{
    width:20%;
    height: 90%;
    border: 1px solid rgb(133, 129, 129);
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
    background-color: rgba(128, 128, 128,0.5);
}

.img1 img{
    width:80%;
    height: 100%;
}

.card1 .details1
{
    width:70%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
}

.title3
{
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.discription3
{
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.details2
{
    width:100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 10px;
}

.quantity1 button
{
    width:30px;
    height: 30px;
    background-color: aliceblue;
    border: 1px solid rgba(128, 128, 128,0.5);
}

.deleteItemFromcart
{
    width: 100px;
    height: 50px;
    color: red;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128,0.5);

}